body {
  background: rgb(105, 214, 226);
}

.search-form-button {
  background-color: rgb(176, 200, 222);
  border: rgb(24, 22, 22);
  border-radius: 5px;
  max-width: 60%;
  padding: 16px 24px;
  color: rgb(56, 54, 54);
}

.search-form-input {
  background-color: rgb(105, 214, 226);
  border: black;
  border-radius: 5px;
  max-width: 60%;
  padding: 16px 24px;
}

.weather-app-today {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
}

.weather-app-forecast {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.821);
  font-family: "nunito", sans-serif, "roboto condensed";
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0;
  padding: 10px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

p {
  text-align: center;
  color: black;
  font-family: "nunito", sans-serif, "roboto condensed";
  font-size: 12px;
  font-weight: 200;
  position: right;
}

.temperature {
  font-size: 45px;
  font-weight: 600;
  color: black;
  font-family: "nunito", sans-serif, "roboto condensed";
  position: center;
}

h2 {
  text-align: left;
  color: rgba(0, 0, 0, 0.821);
  font-family: "nunito", sans-serif, "roboto condensed";
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0;
}

.date-and-condition {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.extra-info {
  text-align: left;
  color: rgb(151, 148, 148);
}

h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.821);
  font-family: "nunito", sans-serif, "roboto condensed";
  font-size: 30px;
  font-weight: 600;
  margin: 20 0;
}

ul {
  list-style: none;
  font-family: "nunito", sans-serif, "roboto condensed";
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.821);
  font-family: "nunito", sans-serif, "roboto condensed";
  font-size: 14px;
  font-weight: 200;
  margin-top: 20px;
  border-top: 1px solid rgb(114, 111, 111);
  padding: 30px 0 0 0;
}

a {
  color: rgba(0, 0, 0, 0.633);
}
